<!doctype html>
<title>Proof of Freshenss</title>
<div class=homepage>
  <h1>Welcome to the POF (Proof of Freshness) prototype page!</h1>
  <p>This website is made using Flask and the code is <a href="https://www.github.com/innovativeinventor/pof">here<a> on GitHub. To see the POF (Proof of freshness) page, visit <a href="/pof">/pof<a><p>
  <p>If you like this project, feel free to check out other stuff at <a href="https://ideas.homelabs.space">ideas.homelabs.space<a> and see my GitHub: <a href="https://www.github.com/innovativeinventor">github/innovativeinventor<a>.
  <br>
  <dl>
    <b>Config details:</b>
    <i>
      <dt>Commit</dt>
      <dd>{{ commit }}</dd>
      <dt>Update frequency</dt>
      <dd>{{ pof_frequency }}</dd>
      <dt>System</dt>
      <dd>{{ system }}</dd>
    </i>
  </dl>
</div>
